@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Integrantes</p>
<ul>
    <li>Adilanne Maisa</li>
    <li>Bruno Meneses</li>
    <li>Erick Andrade</li>
    <li>Kelvin Rodrigues</li>
    <li>Welison da Silva</li>
</ul>
